<nav>
  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-voting-tab" data-toggle="tab" role="tab" href="#nav-voting" aria-controls="nav-voting" aria-selected="true">Voting</a>
      <a class="nav-item nav-link" id="nav-adding-tab" data-toggle="tab" role="tab" href="#nav-adding" aria-controls="nav-adding" aria-selected="false">Adding</a>
  </div>
</nav>

<div class="tab-pane fade show active" id="nav-voting"  role="tabpanel" aria-labelledby="nav-voting-tab">

</div>

<div class="tab-pane fade" id="nav-adding"  role="tabpanel" aria-labelledby="nav-adding-tab">
  <app-adding-collection></app-adding-collection>
</div>
